<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <img src="../../../assets/petmarkt_-_sabemos_como_-_blanco_1036x217.png" alt="" width="450px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <i class="bi bi-cart"></i>
    </div>
    <div>

    </div>
    
  </nav>

  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark " >
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
        <li class="nav-item dropdown h4" >
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marca
          </a>
          <ul class="dropdown-menu" >
            <h4 ><li ><a class="dropdown-item" href="#">Alimento</a></li></h4>
            <li><a class="dropdown-item" href="#" >Instict</a></li>
            <li><a class="dropdown-item" href="#">Sportmix</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            
          </ul>

          <ul class="dropdown-menu" >
            <h4><li ><a class="dropdown-item" href="#">Alimento</a></li></h4>
            <li><a class="dropdown-item" href="#">Instict</a></li>
            <li><a class="dropdown-item" href="#">Sportmix</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            
          </ul>
        </li>

        <li class="nav-item dropdown h4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>
            <li><a class="dropdown-item" href="#">Instict</a></li>
            <li><a class="dropdown-item" href="#">Sportmix</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            
          </ul>
        </li>

        <li class="nav-item dropdown h4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gatos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>
            <li><a class="dropdown-item" href="#">Instict</a></li>
            <li><a class="dropdown-item" href="#">Sportmix</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown h4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tecnologia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Tecnologia y software</a></li>
            <li><a class="dropdown-item" href="#">Squenda</a></li>
            <li><a class="dropdown-item" href="#">Pixan cloud</a></li>
            <li><a class="dropdown-item" href="#">Comutadir</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown h4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Capacitacion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Block y Noticas</a></li>
            <li><a class="dropdown-item" href="#">Capacitaciones</a></li>
            <li><a class="dropdown-item" href="#">Actualixacion</a></li>
            <li><a class="dropdown-item" href="#">BLocc</a></li>
            <li><a class="dropdown-item" href="#">Advance</a></li>
          </ul>
        </li>

        <li class="nav-item h4">
          <a class="nav-link" href="#">Media Kits</a>
        </li>

        <li class="nav-item h4">
          <a class="nav-link" href="#">Ordena rapido</a>
        </li>

      </ul>
    </div>
  </nav>
